@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif !important;
}

/*Styling the  navigation pane*/
nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(73, 146, 194, 0.856);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav h3 span{
    color: #fff;
}

.flex-div {
    background-color: whitesmoke;
    display: flex;
}
    
.nav-left h3{
    padding: 0.5rem;
    margin: 0 auto;
    background-color: rgb(73, 146, 194);
    color: black;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-right a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
}

.active{
    font-weight: bold;
}

/*Styling the main body of website*/
.container{
    display: flex;
    margin-left: 3rem;
}

.heading{
    margin-top: 2rem;
}

.main-center table{
    margin-top: 1rem;
    width: 1200px;
    border:1px dashed rgb(73, 146, 194);
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}

.main-center table tbody td{
    border-bottom: 1px solid rgb(73, 146, 194);
}

